// Global CSS goes here
@import url(http://fonts.googleapis.com/css?family=VT323);

$highlight: rgb(0,255,128);
$quoteText: darken($highlight, 40%);
$font: "M+ 1mn", "VT323", monospace;
// Get this ^ font.
// Seriously. It's the best.

// html {
//   background-color: rgb(12,10,14);
//   font-family: $font;
//   font-size:1vmax;
//   line-height: 0.6em;
//   overflow: hidden;
// }
.quote {
  cursor: default;
  color: $quoteText;
  margin: 0 auto 0;
  max-width: 100vw;
  perspective: 800vmin;
  width: 100%;
}
.quote span {
  border-radius: 1em;
  display: inline-block;
  padding: 0 0.15em;
  margin: 0.1em 0.1em;
  transform: translateZ(-1000vmin) rotateX(999deg) rotateY(0deg);
  transition:
    background 2s ease-in,
    color 10s ease-out,
    text-shadow 5s ease-out,
    transform 10s ease-in;
}
.quote .highlight {
  background: rgba($highlight,0.1);
  color: lighten($highlight,25%);
  text-shadow: 0.4em 0.4em 0.17em rgba($highlight,0.35);
  transform: translateZ(100vmin) rotateX(5deg) rotateY(5deg);
  transform-origin: 0% 100%;
  transition: all 0.7s ease-out;
  z-index: 9999;
}
